:root {
  --graige: #b0a999;
  --graige-light: #d2cdc0;
  --graige-lightest: #c5c2b3;
  --button-red: rgb(233, 21, 21)
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Hide horizontal overflow */
  width: 100vw;
}

header {
  background-color: var(--graige);
  height: 50px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px -4px gray;
}

h1 {
  color: #ffffff;
  margin: auto;
}

nav {
  width: 20vw;
  height: calc(100vh - 50px - 40px);
  background-color: var(--graige-light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#main-content {
  display: flex;
}

nav button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--graige-light);
  color: white;
  font-weight: 600;
  font-size: 18px;
}

nav button:hover {
  text-shadow: 2px 2px 4px black;
}

main {
  width: 80vw;
  max-height: calc(100vh - 50px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

main h2, h4 {
  padding: 5px 20px;
  
  color: var(--graige);
  border-bottom: 1px solid var(--graige-lightest);
}



/* The Modal (background) */
.modal, .todoModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.todos {
  display: flex;
}

.todos button {
  background-color: var(--button-red);
  color: white;
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.todosHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: var(--graige-light) 1px solid;
  padding: 5px;
}
.todosHead:hover {
  background-color: var(--graige-light);
}
.complete {
  width: 15%;
  height: 15px;
}
.name {
  width: 20%;
  height: 15px;
}
.dueDate {
  width: 20%;
  height: 15px;
}
.description {
  width: 30%;
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



/* Media Query for Mobile Devices */
@media (max-width: 420px) {
  .todos {
    flex: 1 1 100%; /* Take up full width */
    max-width: 99%;
  }
}

button:hover {
  transform: scale(1.1);
  
}

/* .circle-checkbox {
  display: none;
}

.circle-checkbox + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #696969;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.circle-checkbox:checked + label::after,
        .circle-checkbox + label.checked::after {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid #14329b;
            background-color: #002aff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } */